:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
}
.footer {
  text-align: center;
  color: rgb(25, 25, 166);
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
}
.icon {
  background: transparent;
  margin: -3px 0;
  animation: scale 2s infinite;
}
a {
  color: rgb(32, 32, 91);
  text-decoration: none;
  background: transparent;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
